<form method="post">
  <h2>Edit Profile</h2>
  <div>
    Bio:
    <textarea name="bio">{{currentUser.bio}}</textarea>
  </div>
  <div>
    Home Town:
    <input type="text" name="homeTown" value="{{currentUser.homeTown}}">
  </div>
  <button type="submit">Edit Profile</button>
</form>