<form method="post">
  <input type="email" name="emailAddress" placeholder="Email Address">
  <input type="password" name="password" placeholder="Password">
  <button type="submit">Register</button>
</form>